In [17]:
import pandas as pd

data = pd.read_csv("messy_data.csv", na_values=[" "])

#data=data.dropna()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   carat         150 non-null    float64
 1    clarity      200 non-null    object
 2    color        200 non-null    object
 3    cut          200 non-null    object
 4    x dimension  197 non-null    float64
 5    y dimension  136 non-null    float64
 6    z dimension  152 non-null    float64
 7    depth        133 non-null    float64
 8    table        167 non-null    float64
 9    price        196 non-null    float64
dtypes: float64(7), object(3)
memory usage: 15.8+ KB

In [18]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
195    False
196    False
197    False
198    False
199    False
Length: 200, dtype: bool

In [19]:
df.value_counts("carat")

carat
0.50    13
0.55    12
0.40    10
0.45     9
0.65     8
0.70     8
0.75     8
1.05     8
0.60     7
1.30     7
0.85     7
0.90     7
0.95     6
1.20     6
1.15     5
1.40     5
1.25     4
0.80     4
1.10     4
0.35     4
1.00     2
1.35     2
1.50     1
0.20     1
0.30     1
1.60     1
Name: count, dtype: int64

In [25]:
df[" clarity"]= df[" clarity"].str.upper()
df.value_counts(" clarity")

 clarity
 SI2     44
 VVS2    37
 VVS1    35
 I1      31
 SI1     30
 IF      23
Name: count, dtype: int64

In [26]:
df[" color"]= df[" color"].str.upper()
df.value_counts(" color")

 color
 G            40
 H            34
 I            33
 F            30
 E            25
 D            22
 COLORLESS     8
 J             8
Name: count, dtype: int64

In [24]:
df[" cut"]= df[" cut"].str.upper()
df.value_counts(" cut")

 cut
 GOOD         51
 PREMIUM      41
 VERY GOOD    40
 FAIR         36
 IDEAL        32
Name: count, dtype: int64