In [39]:
import pandas as pd

df = pd.read_csv("messy_data.csv", na_values=[" "])

#data=data.dropna()
df.columns = df.columns.str.replace(' ', '')
df.info()
#df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   carat       150 non-null    float64
 1   clarity     200 non-null    object
 2   color       200 non-null    object
 3   cut         200 non-null    object
 4   xdimension  197 non-null    float64
 5   ydimension  136 non-null    float64
 6   zdimension  152 non-null    float64
 7   depth       133 non-null    float64
 8   table       167 non-null    float64
 9   price       196 non-null    float64
dtypes: float64(7), object(3)
memory usage: 15.8+ KB

In [31]:
df[df.duplicated()==True]

Empty DataFrame
Columns: [carat, clarity, color, cut, xdimension, ydimension, zdimension, depth, table, price,  clarity,  color,  cut]
Index: []

In [24]:
df.value_counts("carat")

carat
0.50    13
0.55    12
0.40    10
0.45     9
0.65     8
0.70     8
0.75     8
1.05     8
0.60     7
1.30     7
0.85     7
0.90     7
0.95     6
1.20     6
1.15     5
1.40     5
1.25     4
0.80     4
1.10     4
0.35     4
1.00     2
1.35     2
1.50     1
0.20     1
0.30     1
1.60     1
Name: count, dtype: int64

In [25]:
df[" clarity"]= df["clarity"].str.upper()
df.value_counts("clarity")

clarity
 i1      26
 VVS1    23
 si2     23
 IF      20
 VVS2    19
 si1     18
 vvs2    18
 Si2     16
 Si1     12
 vvs1    11
 I1       5
 SI2      5
 if       3
 Vvs1     1
Name: count, dtype: int64

In [26]:
df[" color"]= df["color"].str.upper()
df.value_counts("color")

color
 G            36
 I            33
 H            30
 F            24
 D            13
 E            13
 e            12
 d             9
 colorless     6
 f             6
 j             6
 g             4
 h             4
 Colorless     2
 J             2
Name: count, dtype: int64

In [27]:
df[" cut"]= df["cut"].str.upper()
df.value_counts("cut")

cut
 Premium      34
 Good         30
 fair         24
 Ideal        23
 good         21
 very good    19
 Fair         12
 Very good    10
 Very Good     9
 ideal         9
 premium       7
 very Good     2
Name: count, dtype: int64

In [40]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split
X=df.drop(columns="price")
y=df["price"]
enc = OrdinalEncoder()

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=1)
cat_cols = X_train.select_dtypes(include="object").columns.tolist()

X_train=enc.fit_transform(X_train[cat_cols])
X_test=enc.fit_transform(X_test[cat_cols])
print(X_train)

[[11.  1.  1.]
 [ 1.  3.  1.]
 [12.  3.  3.]
 [ 6. 13.  7.]
 [ 2. 10.  1.]
 [10.  6. 11.]
 [ 5.  5.  6.]
 [ 1.  6.  6.]
 [11.  4.  3.]
 [13.  4.  6.]
 [11. 13.  0.]
 [11.  3.  8.]
 [ 8.  3.  0.]
 [11.  5.  3.]
 [11.  3.  3.]
 [ 3.  6.  3.]
 [ 0.  4.  8.]
 [ 1.  6.  1.]
 [ 5.  4.  3.]
 [12.  9.  9.]
 [ 4.  5.  0.]
 [ 5.  6.  2.]
 [ 1.  4. 11.]
 [ 1. 11.  4.]
 [11.  5.  8.]
 [10. 10. 11.]
 [ 3.  6.  3.]
 [11.  2.  3.]
 [12.  4.  2.]
 [11.  6.  6.]
 [10.  3. 11.]
 [ 8.  6.  3.]
 [ 5.  6.  0.]
 [ 1.  6. 11.]
 [13.  8.  4.]
 [10.  4.  9.]
 [12.  8.  1.]
 [ 3.  6.  5.]
 [ 4. 12.  1.]
 [10.  7.  3.]
 [13.  3.  3.]
 [ 8.  4.  1.]
 [ 9.  1.  2.]
 [ 1.  1.  4.]
 [ 1.  1.  2.]
 [ 5.  6.  6.]
 [ 1. 10.  7.]
 [ 1.  6.  3.]
 [13.  1.  7.]
 [ 1.  5. 11.]
 [ 6.  5.  0.]
 [ 8.  4.  4.]
 [ 6. 13.  2.]
 [ 8.  4.  2.]
 [ 2.  4.  7.]
 [ 1.  4.  8.]
 [10.  7. 11.]
 [ 6.  3.  6.]
 [ 1.  6.  3.]
 [ 1.  4.  8.]
 [ 6.  3. 11.]
 [ 8.  4.  6.]
 [ 4.  9.  2.]
 [ 3.  0.  9.]
 [11. 12.  0.]
 [ 5.  8.  1.]
 [ 8.  4.  2.]
 [ 4.  4.  4.]
 [ 8.  7.  3.]
 [ 6.  9.  1.]
 [ 6.  5. 11.]
 [12.  3.  2.]
 [ 4.  4.  6.]
 [ 6.  2.  3.]
 [ 6.  5.  6.]
 [ 6.  9.  2.]
 [11.  9.  1.]
 [ 8.  6.  2.]
 [11.  2.  0.]
 [13.  6.  1.]
 [ 1. 10.  3.]
 [12.  5.  1.]
 [ 8.  6.  3.]
 [13.  9.  3.]
 [ 8.  6.  0.]
 [ 9.  4.  2.]
 [10.  5.  2.]
 [13.  1.  1.]
 [ 8.  6.  6.]
 [ 9.  8.  8.]
 [ 6.  3.  3.]
 [ 4.  4.  7.]
 [11.  3.  3.]
 [ 4.  5.  6.]
 [ 4.  3.  5.]
 [ 4.  7. 11.]
 [ 5.  9.  4.]
 [ 8.  6.  5.]
 [10.  4.  2.]
 [ 2.  6.  7.]
 [ 6.  8.  3.]
 [ 3.  6.  6.]
 [13.  2.  9.]
 [ 1. 11.  2.]
 [ 1.  1.  7.]
 [10.  3. 11.]
 [ 5. 12.  7.]
 [ 7. 10.  7.]
 [ 6.  5.  1.]
 [10.  3. 11.]
 [ 8.  7.  1.]
 [10.  6.  5.]
 [12.  5.  2.]
 [10.  0.  4.]
 [ 5.  5.  0.]
 [13.  5.  1.]
 [10.  4.  5.]
 [ 4.  6.  1.]
 [ 6.  5.  3.]
 [ 8.  7.  3.]
 [ 5. 10.  2.]
 [ 5.  3.  1.]
 [ 3.  5. 10.]
 [ 8.  4.  1.]
 [13.  3.  7.]
 [12.  2.  3.]
 [11.  2.  1.]
 [11.  5.  6.]
 [11.  6. 11.]
 [11.  3. 11.]
 [12.  4.  3.]
 [ 8.  6.  6.]
 [13.  4.  2.]
 [ 1.  8.  8.]]

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

fig, ax = plt.subplots(figsize=(10,10))         # Sample figsize in inches
sns.heatmap(df.corr(), annot=True, center=0.0, linewidths=.5, ax=ax)